[user]
	name = Manav Rathi
	email = manav@mnvr.in
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
	gpgSign = true
# If a SSH key is not already in the agent, add it. Return the new or added key.
[gpg "ssh"]
	defaultKeyCommand = "sh -c 'ssh-add -L >/dev/null || ssh-add -q; ssh-add -L'"
