[user]
	name = Manav Rathi
	email = manav@mnvr.in
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[credential]
	helper = /usr/libexec/git-core/git-credential-libsecret
[init]
	defaultBranch = main
